// Search Icon in the header
#home
  #header
    #menu-main-top-menu
      li
        a
          .search-icon
            fill: $color__white
#home
  #header
    &.sticky
      #menu-main-top-menu
        li
          a
            .search-icon
              fill: $color__black
#header
  #menu-main-top-menu
    li
      &.search-icon.current-menu-item
        background: transparent!important
      a
        .search-icon
          fill: $color__black
          width: 20px
          margin-top: -3px

// Search page
.search
  &.search-results
    h2
      a
        +font ($font__main, .9em, 400, normal, 1.3em)
    p
      span
        +font (null, 1.5rem, null, null, null)
        @include media-breakpoint-up(xl)
          +font (null, 1.3rem, null, null, null)
    #algolia-search-box
      .search-icon
        fill: $color__brand
      input
        border-bottom-color: $color__brand
        &::-webkit-input-placeholder
          color: $color__white
        &::-moz-placeholder
          color: $color__white
        &:-moz-placeholder
          color: $color__white
    #algolia-pagination
      text-align: center
  #ais-main
    padding: 0

  .ais-hits--item
    .ais-hits--thumbnail
      float: right
      margin-right: 0
      margin-left: 2em
