.btn
  &-readmore
    &_portfolio
      color: $color__white
      border: 5px solid $color__white
      +font ('open_sansbold', null, bold, null, null)
      letter-spacing: 3px
      color: $color__white
      &:hover,
      &:visited
        color: $color__white
        border: 5px solid $color__white
    &_blog
      color: $color__yellow
      text-transform: capitalize
      text-decoration: underline
      +font ($font__main, 1em, 400, normal, 1.3em)
      &:hover,
      &:visited
        color: $color__yellow
        +font (null, null, 600, null, null)
        text-decoration: underline
        background: none
  &-green
    +font (null, 1.1em, bold, normal, 1.3em)
    text-transform: capitalize
    padding: 10px 30px
    color: $color__white!important
    background: $color__link
    &:hover,
    &:active,
    &:focus
      color: $color__link!important
      background: $color__white
