.divider
  &-bottom,
    &-left,
    &-right
      &::after
        content: ''
        position: absolute
        bottom: 0
        left: 0
        width: 100%
    &-left
      &::after
        border-bottom: 50px solid $color__white
        border-right: 100vw solid transparent
        @include media-breakpoint-up(xl)
          border-bottom: 100px solid $color__white
    &-right
      &::after
        border-bottom: 50px solid $color__white
        border-left: 100vw solid transparent
        @include media-breakpoint-up(xl)
          border-bottom: 100px solid $color__white
  &-top
    &-left,
    &-right
      &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
    &-left
      &::before
        border-top: 50px solid $color__white
        border-right: 100vw solid transparent
        @include media-breakpoint-up(xl)
          border-top: 100px solid $color__white
    &-right
      &::before
        border-top: 50px solid $color__white
        border-left: 100vw solid transparent
        @include media-breakpoint-up(xl)
          border-top: 100px solid $color__white
