// Newsletter Form
.newsletter-form
  li
    padding: 0!important
    border: none!important
  .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half)
    width: 100%!important
    max-width: 100%!important
  .gform_footer
    text-align: center
    padding: 0!important
    input
      background: none
      color: $color__brand
