@import "buttons"
@import "dividers"
@import "pagination"
@import "forms"
#primary
  margin: 2em 0

section
  .sections
    text-align: center
    margin: 3em 0
    position: relative
    z-index: 9
    &-tb
      margin: 4em 0
    .title
      width: 100%
      text-align: center
  .container-fluid
    overflow: hidden

.carousel-case_studies
  margin-bottom: 40px
  .owl-stage-outer
    .owl-stage
      display: flex
      align-items: center
      .carousel-item
        img
          width: auto!important
          max-width: 100%!important
          margin: 0 auto
