.pagination
  margin: 0 auto
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: 2em
  .total-pages
    margin: 1em
  .total-pages
    display: flex
  .pagination-pages
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    align-items: center
    align-items: center
    .page-first,
    .page-last
      color: $color__brand
      margin: 0 10px
    .inactive,
    .current
      padding: 15px 20px
      margin: 5px
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14),0 1px 1px -1px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12)
    .current
      background: $color__brand
      color: $color__white
    .inactive
      color: $color__black
      &:hover
        text-decoration: none
