// nav
//   &.navbar
//     padding: 0
//
// .navbar-toggler-icon
//   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")

// Slider navigation dots
.owl-dots
  .owl-dot
    width: 20px
    height: 20px
    border: 1px solid $color__grey!important
    border-radius: 50%
    background: $color__grey!important
    margin: 0 5px
    &.active
      vertical-align: -moz-middle-with-baseline
      &::after
        content: ''
        width: 10px
        height: 10px
        border-radius: 50%
        background: $color__white
        display: block
        margin: 0 auto

.owl-nav
  position: absolute
  width: 100%
  top: 50%
  .owl-prev,
  .owl-next
    span
      font-size: 2em
      color: $color__white
  .owl-prev
    float: left
  .owl-next
    float: right

.highlight a
  color: $color__brand!important
  text-decoration: underline
