.home
  .rev_slider_wrapper
    background-image: url(../assets/images/SeoWorks-home_MainBg_fb.jpg)!important
    background-size: cover!important
    background-repeat: no-repeat
  header
    @include media-breakpoint-down(md)
      background: $color__white
      position: fixed
      width: 100%
      z-index: 999
      #menu-main-top-menu
        margin: 0
        padding: 0
        justify-content: flex-end!important
        >li
          // margin: 0 10px
          &:last-child
            margin-right: 0
          @include media-breakpoint-up(lg)
            margin: 0 10px
          a
            text-transform: uppercase
            color: $color__black
            padding: 15px 0
            display: block
            margin: 0 10px
            +font ('open_sansbold', 1em, 500, normal, 1.3em)
            @include media-breakpoint-up(lg)
              padding: 35px 0
              margin: 0
              height: 100%
            &:hover
              color: $color__brand
            &:focus
              outline: none
          &.current-menu-item
            background: $color__brand
            a
              color: $color__white
              &:focus
                outline: none
            @include media-breakpoint-up(lg)
              background: none
              a
                color: $color__brand
                &:focus
                  outline: none
            &.menu-item-has-children
              .sub-menu__arrow
                &::after
                  border-top: 10px solid $color__white
          .sub-menu__arrow
            position: absolute
            top: 0
            right: 0
            width: 20px
            height: 20px
            @include media-breakpoint-up(lg)
              display: none
            &::after
              content: ''
              position: absolute
              top: 20px
              right: 0
              width: 0
              height: 0
              border-left: 10px solid transparent
              border-right: 10px solid transparent
              border-top: 10px solid $color__brand


          ul
            &.sub-menu
              padding: 0 10px
              margin: 0
              // box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12)
              box-shadow: none
              @include media-breakpoint-up(lg)
                display: none
                position: absolute
                background: $color__white
              li
                list-style: none
                margin: 0
                &:last-child
                  margin-right: auto
                a
                  padding: 10px 0
                  &:focus
                    outline: none

    .navbar-header
      display: none
      @include media-breakpoint-down(md)
        display: block
        width: 100%
        width: 100%
        display: -ms-flexbox
        display: flex
        -ms-flex-pack: justify
        justify-content: space-between
        -ms-flex-item-align: center
        align-self: center
        -ms-flex-align: center
        align-items: center

    #menu-main-top-menu
      justify-content: center!important
      margin: 0
    .navbar
      box-shadow: none
      padding: 0 15px!important
    &.sticky
      position: fixed
      width: 100%
      z-index: 999
      background: $color__white
      .navbar-header
        display: block
        width: 100%
        width: 100%
        display: flex
        justify-content: space-between
        align-self: center
        align-items: center
        @include media-breakpoint-up(lg)
          width: auto
        .navbar-toggler
          background: $color__brand
          height: 35px
          width: 35px
          box-sizing: border-box
          padding: 5px
          .mdi
            width: 100%
            height: 2px
            color: white
            background: white
            display: block
            margin: 5px 0
      .navbar
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12)
        padding: 0

      #menu-main-top-menu
        margin: 0
        padding: 0
        justify-content: flex-end!important
        li
          // margin: 0 10px
          &:last-child
            margin-right: 0
          @include media-breakpoint-up(lg)
            margin: 0 10px
          a
            text-transform: uppercase
            color: $color__black
            padding: 15px 0
            display: block
            margin: 0 10px
            +font ('open_sansbold', 1em, 500, normal, 1.3em)
            @include media-breakpoint-up(lg)
              padding: 35px 0
              margin: 0
              height: 100%
            &:hover
              color: $color__brand
            &:focus
              outline: none
          &.current-menu-item
            background: $color__brand
            a
              color: $color__white
              &:focus
                outline: none
            @include media-breakpoint-up(lg)
              background: none
              a
                color: $color__brand
                &:focus
                  outline: none
            &.menu-item-has-children
              .sub-menu__arrow
                &::after
                  border-top: 10px solid $color__white
          .sub-menu__arrow
            position: absolute
            top: 0
            right: 0
            width: 20px
            height: 20px
            @include media-breakpoint-up(lg)
              display: none
            &::after
              content: ''
              position: absolute
              top: 20px
              right: 0
              width: 0
              height: 0
              border-left: 10px solid transparent
              border-right: 10px solid transparent
              border-top: 10px solid $color__brand
          &:hover
            >ul
              &.sub-menu
                @include media-breakpoint-up(lg)
                  display: block
                li
                  margin: 0
                  a
                    margin: 0 10px
                  ul
                    display: none
                  &:hover
                    >ul
                      &.sub-menu
                        @include media-breakpoint-up(lg)
                          display: block
                          // border: 1px solid red

          ul
            &.sub-menu
              padding: 0
              margin: 0
              box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12)
              // box-shadow: none
              @include media-breakpoint-up(lg)
                display: none
                position: absolute
                background: $color__white
              li
                list-style: none
                &:last-child
                  margin-right: auto
                a
                  padding: 10px 0
                  &:focus
                    outline: none



  #menu-main-top-menu
    li
      // margin: 0 30px
      &:last-child
        margin-right: 30px
      a
        text-transform: uppercase
        color: $color__white
        +font ('open_sansbold', 1em, 500, normal, 1.3em)
        padding: 35px 0
        display: block
        &:hover
          color: $color__brand
          &:focus
            outline: none
      // &.current-menu-item
      //   a
      //     color: $color__brand
      ul
        &.sub-menu
          // display: none
          box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12)
          @include media-breakpoint-up(lg)
            display: none
            position: absolute
            background: $color__white
            width: 300px
            li
              a
                color: $color__black
                &:hover
                  color: $color__brand
                &:focus
                  outline: none
