.shortcode
  &-clients
    text-align: center
    margin: 2em 0
    .owl-stage
      display: flex
      align-content: center
      align-items: center
      align-self: baseline
  &-casestudies
    margin-top: 0!important
    margin-bottom: 2em
    article
      margin-top: 30px
      .card
        &-image
          width: 200px
          height: 200px
          display: flex
          align-content: center
          align-items: center
          align-self: center
          margin: 1em 0
          text-align: center

        &-text
          p
            +font ($font__main, 1rem!important, 400, normal, 1.3em)
        .btn
          color: $color__brand
