table
	margin: 0 0 1.5em
	width: 100%
	thead
		tr
			th
				text-align: center
				border: 1px solid $color__brand
				padding: 15px
				+font ($font__main, 1.2rem, null, null, null)
	thead,
	tbody,
		tr
			border: 1px solid $color__grey
			td
				padding: 10px
				border: 1px solid $color__grey
				+font ($font__main, 1.2rem, null, null, null)
