aside
  &.widget-area
    section
      // &::after
      //   content: ''
      //   width: 100%
      //   height: 1px
      //   background: $color__brand
      //   display: block
      //   margin: 0 auto
      h2
        +font ('open_sansregular', 1.5em, 300, normal, normal)
        &::after
          content: ''
          display: block
          margin: 10px 0
          width: 20px
          height: 4px
          background: $color__grey
      p
        +font ($font__main, 1.3em, 300, normal, normal)
        a
          color: $color__brand
      ul
        margin: 0
        // padding: 0
      .widget_categories
      ul
        margin: 0
        padding: 0
        li
          list-style: none
          padding: .7em 0
          border-bottom: 1px solid $color__grey
          a
            +font ($font__main, 1.2em, 300, normal, normal)
            color: $color__black
            &:hover
              text-decoration: none
              color: $color__brand
    .widget_search
      .search-form
        position: relative
        // display: none
        label
          width: 100%
          .search-field
            width: 100%
            padding: 10px
        .search-submit
          position: absolute
          right: 0
          background: $color__brand
          color: $color__white
          padding: 13px
          +font ($font__main, .8em, 300, normal, normal)
