// Seo Works Values
.google-partners
  &.section-background
    background-repeat: no-repeat
    background-size: cover
.our-values
  .value
    &-icon
      width: 50px
      text-align: center
      margin: 0 auto
      margin-bottom: 1em
    h4
      text-transform: uppercase
      +font ('open_sansbold', 1.2em, 800, normal, 1.3em)
      letter-spacing: 1px
      margin-bottom: 1em
    p
      +font ($font__main, 1em, 300, normal, 1.3em)

//  More Serivces
.more-services
  .service
    display: flex
    text-align: left
    &_icon
      width: 40px
      margin: 0 10px
    &_content
      h4
        +font ('open_sansbold', 1.1em, 800, normal, 1.3em)
        color: $color__brand
        a
          color: $color__brand
      p
        +font ($font__main, 1em, 300, normal, 1.3em)
