.home-sectors-portfolio
  .sectors
    .sector
      background-size: cover
      background-repeat: no-repeat
      background-position: center
      position: relative
      &::before
        content: ''
        width: 100%
        height: 100%
        position: absolute
        +background-opacity($color__black, 0.3)
      &-content
        padding: 6em 0
        color: $color__white
        z-index: 9
        &_description
          text-align: center
          @include media-breakpoint-up(xl)
            display: flex
            flex-direction: column
            align-items: flex-start
            text-align: right
          h4
            text-align: center
            +font ('open_sansbold', 1.8em, 400, normal, 1.3em)
            @include media-breakpoint-up(xl)
              +font (null, 2.1em, null, null, null)
              text-align: left
            &::after
              content: ''
              background: $color__white
              width: 40px
              height: 5px
              display: block
              margin: 10px auto
              @include media-breakpoint-up(xl)
                margin: 10px 0
          p
            +font ('libre_baskervilleregular', 1.4em, 400, normal, 1.3em)
            text-align: center
            @include media-breakpoint-up(xl)
              +font (null, 1.5em, null, null, null)
              // width: 50%
              text-align: left
            // @include media-breakpoint-up(md)
          a
            text-align: center
            &:hover
              border-color: $color__link
              // color: $color__link

        &_logo
          text-align: center
      &:nth-child(even)
        @include media-breakpoint-up(xl)
          .row
            flex-direction: row-reverse
            .sector
              &-content
                &_description
                  display: flex
                  flex-direction: column
                  align-items: flex-end
                  align-content: flex-end
                  // text-align: right
                  h4
                    text-align: right
                    // &::after
                      // content: none
                      // margin: 10px
                    // &::before
                    //   content: '-'
                    //   background: $color__white
                    //   width: 40px
                    //   height: 5px
                    //   display: block
                    //   margin: 10px auto
                  p
                    text-align: right
  &_filter
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    padding: 1em 0 2em
    a
      background: none
      border-radius: 50px
      border: 2px solid $color__grey
      color: $color__grey
      text-transform: uppercase
      +font ('open_sansbold', .9em, null, bold, null)
      margin: .3em
      padding: 5px 20px
      cursor: pointer
      &:hover
        text-decoration: none
        color: $color__brand
        border-color: $color__brand
