.home,
.services
  &-services
    &-grid
      position: relative
      background-repeat: no-repeat
      background-attachment: scroll
      background-position-x: 0%
      background-position-y: 0%
      background-size: auto auto
      background-attachment: fixed
      background-size: cover
      background-repeat: no-repeat
      background-position: center center
      padding: 10em 0
      overflow-x: hidden
      // .overlayed
      //   margin-top: -200px
      .service
        background-size: cover
        min-height: 370px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        position: relative
        &::before
          content: ''
          width: 100%
          height: 100%
          position: absolute
          top: 0
          +background-opacity($color__black, 0.3)
          z-index: 1
        h3
          align-items: baseline
          align-self: center
          padding: 0 1em
          +font ('open_sansbold', 2em, null, normal, 1.3em)
          color: $color__white
          z-index: 9
        &-hover
          // @include invisible(hidden)
          display: none
          &__link
            position: absolute
            width: 100%
            height: 100%
        &:hover
          background-image: none
          background: $color__background-body!important
          &::before
            content: none
          h3
            // @include invisible(hidden)
            display: none
          .service
            &-hover
              // @include invisible(visible)
              display: block
              padding: 2em
              h5,
              a
                +font ('open_sansbold', 1.2em, null, normal, 1.3em)
                color: $color__black
              p
                +font ($font__main, 1em, null, normal, 1.3em)
                text-align: left
                margin-bottom: .5em
.overlayed
  margin-top: -160px
