.background-header
  height: 100vh
  .main-slide
    position: absolute
    background-size: cover
    height: 80vh
    display: flex
    align-content: center
    align-items: center
    top: 0
    &_content
      max-width: 1200px
      &::after
        @include media-breakpoint-up(xl)
          content: ''
          position: absolute
          display: block
          z-index: 11
          background-color: rgba(0, 0, 0, 0)
          border-color: $color__white
          border-style: solid
          border-width: 4px 4px 4px 0px
          visibility: inherit
          transition: none 0s ease 0s
          text-align: inherit
          line-height: 24px
          margin: 0px
          padding: 0px
          letter-spacing: 0px
          font-weight: 400
          font-size: 16px
          white-space: nowrap
          min-height: 460px
          min-width: 352px
          max-height: 460px
          max-width: 352px
          opacity: 1
          transform: translate3d(0px, 0px, 0px)
          transform-origin: 50% 50% 0px
          top: 26.1%
          left: 70%
          @media screen and (min-width: 1600px)
            left: 66%
      &::before
        @include media-breakpoint-up(xl)
          content: ''
          position: absolute
          display: block
          z-index: 10
          background-color: rgba(0, 0, 0, 0)
          border-color: $color__white
          border-style: solid
          border-width: 4px 0px 4px 4px
          visibility: inherit
          transition: none 0s ease 0s
          text-align: inherit
          line-height: 24px
          margin: 0px
          padding: 0px
          letter-spacing: 0px
          font-weight: 400
          font-size: 16px
          white-space: nowrap
          min-height: 460px
          min-width: 352px
          max-height: 460px
          max-width: 352px
          opacity: 1
          transform: translate3d(0px, 0px, 0px)
          transform-origin: 50% 50% 0px
          top: 26.1%
          right: 70%
        @media screen and (min-width: 1600px)
          right: 66%
    &_logo
      display: none
      position: absolute
      width: 300px
      top: 21%
      right: 0
      left: 0
      margin: 0 auto
      @include media-breakpoint-up(md)
        display: block
        width: 425px
    &_body
      @include media-breakpoint-up(md)
        margin-top: 30px
    &_title
      text-align: center
      margin-top: -100px
      +font ('league_spartanbold', 2em, null, normal, 1.3em)
      text-transform: uppercase
      @include media-breakpoint-up(md)
        +font ('league_spartanbold', 2.2em, null, null, 1.3em)
        margin-top: 0
      // @include media-breakpoint-up(lg)
      //   +font ('league_spartanbold', 2.2em, null, null, 1.3em)
      @include media-breakpoint-up(xl)
        +font ('league_spartanbold', 4.2em, null, null, 1.3em)

    &_sub
      +font ('league_spartanbold', 1.5em, null, normal, 1.3em)
      text-align: center
      color: $color__white
      @include media-breakpoint-up(xl)
        +font ('league_spartanbold', 2.5em, null, normal, 1.3em)
      span
        color: $color__brand
    &_logos
      display: none
      @include media-breakpoint-up(md)
        display: block
        text-align: center
        margin: 0 auto
        ul
          margin: 0
          padding: 0
          li
            list-style: none
            display: inline-block
            margin: 0 20px
            img
              width: 100px
    &_btn
      position: absolute
      width: 100%
      right: 0
      left: 0
      margin: 20px auto
      text-align: center
      @include media-breakpoint-up(sm)
        // top: 70%
      a
        +font ('league_spartanbold', 1em, null, normal, 1.3em)
        display: block
        border: 2px solid $color__white
        padding: 15px 50px
        text-decoration: none
        text-transform: uppercase
        margin: 30px auto
        color: $color__white
        width: 65%
        @include media-breakpoint-up(sm)
          display: inline
          margin: 30px 8px
          +font ('league_spartanbold', 1.5em, null, normal, 1.3em)
        &:hover
          color: $color__brand

@media screen and (max-height: 670px)
  .main-slide
    .main-slide_logo
      top: 15%
      width: 320px
      // display: none
    .main-slide_content
      &::after,
      &::before
        display: none
    .background-header .main-slide_btn
      top: 84%!important

@media screen and (min-height: 671px)
  .background-header .main-slide_body
    margin-top: 130px
  .main-slide_btn
    bottom: 3%

@media screen and (min-height: 720px) and (max-height: 767px)
  .main-slide_btn
    bottom: 10%

@media screen and (min-height: 768px)
  .main-slide_btn
    bottom: 10%

@media screen and (min-height: 780px)
  .background-header .main-slide_body
    margin-top: 100px
  .main-slide_btn
    bottom: 10%

@media screen and (min-height: 800px)
  .main-slide_btn
    bottom: 12%

@media screen and (min-height: 801px)
  .background-header .main-slide_body
    margin-top: 50px
  .main-slide_btn
    // bottom: 23%

@media screen and (min-height: 901px)
  .main-slide_btn
    bottom: 19%

@media screen and (min-height: 920px)
  .main-slide_btn
    bottom: 22%
