.home-awards,
.home-clients,
.shortcode-awards,
.shortcode-clients
  .carousel-awards,
  .carousel-clients
    .owl-stage-outer
      .owl-stage
        display: flex
        align-items: center
        .carousel-item
          img
            width: auto!important
            max-width: 100%!important
            margin: 0 auto
// .owl-carousel .owl-item img
  max-width: 100%
  width: auto!important
