.home-blog
  position: relative
  background-repeat: no-repeat
  background-attachment: scroll
  background-position-x: 0%
  background-position-y: 0%
  background-size: auto auto
  background-attachment: fixed
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  padding: 5em 0
  overflow: hidden
  &::before
    content: ''
    width: 100%
    height: 100%
    position: absolute
    +background-opacity($color__black, 0.8)
    z-index: 1
  h2,
  p
    color: $color__white
  .card
    background: transparent
    margin-bottom: 2em
    box-shadow: none
    &-image
      margin-bottom: 1.5em
      figure
        margin: 0
        padding: 0
        img
          width: 100%
    &-body
      background: none
      border: 10px solid $color__white
    &-date
      +font ($font__main, .9em, 400, normal, 1.3em)
      text-transform: uppercase
      margin: 0
    &-title
      +font ('open_sansbold', 1.2rem, 400, normal, 1.3em)
      margin: .5em 0
      a
        color: $color__white
    &-text
      p
        +font ($font__main, 1rem, 400, normal, 1.3em)
