.home-reviews
  background-repeat: no-repeat
  background-attachment: scroll
  background-position-x: 0%
  background-position-y: 0%
  background-size: auto auto
  background-attachment: scroll
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  position: relative
  @include media-breakpoint-up(md)
    background-attachment: fixed
  &::before
    content: ''
    width: 100%
    height: 100%
    position: absolute
    +background-opacity($color__black, 0.5)
    top: 0
    right: 0
    z-index: 1
  blockquote
    padding: 100px 0
    margin: 0
    p
      +font ('libre_baskervilleitalic', 1em, 400, italic, 1.3em)
      letter-spacing: 3px
      margin: 0 1em
      color: $color__white
      @include media-breakpoint-up(xl)
        margin: 0
    footer
      color: $color__white!important
      margin: 1em
      +font ('open_sansbold', .9em, 800, normal, 1.3em)
