.blog
  section
    article
      margin-bottom: .5em
      .card
        background: transparent
        margin-bottom: 2em
        // box-shadow: none
        &-image
          margin-bottom: 1.5em
          figure
            margin: 0
            padding: 0
            img
              width: 100%
        &-body
          background: none
          border: 10px solid $color__white
        &-date
          +font ($font__main, .9em, 400, normal, 1.3em)
          text-transform: uppercase
          margin: 0
        &-title
          +font ('open_sansbold', 1.2rem, 400, normal, 1.3em)
          margin: .5em 0
          a
            color: $color__black
        &-text
          p
            +font ($font__main, 1rem, 400, normal, 1.3em)
            margin-bottom: 1em
        .btn-readmore_blog
          color: $color__brand
          margin-top: .5em
    aside
      @include media-breakpoint-up(md)
        border-left: 1px solid $color__background-hr
        padding-left: 30px
  .post
    .entry-header
      h1
        +font ('league_spartanbold', 1.8em, 400, normal, 1.3em)
      .entry-meta
        display: flex
        justify-content: space-between
        .posted-on
          text-transform: uppercase
          a
            color: $color__black
        a
          color: $color__brand
    .entry-content
      h2
        +font ($font__main, 1.6em, null, null, null)
      h3
        +font ($font__main, 1.4em, null, null, null)
      p,
      ul,
      ol
        margin-bottom: 1em
        @include media-breakpoint-up(xl)
          +font ($font__main, 1.1em, null, null, null)
        a
          color: $color__brand
      ul,
      ol
        li
          +font ($font__main, 1.1rem, null, normal, 1.3em)
          ul,
          ol
            margin-top: .5em
            li
              +font ($font__main, 1.1rem, null, normal, 1.3em)
      ul,
      ol
        margin: 0 0 1em 0
    .post-navigation
      background: $color__brand
      padding: 1em
      .nav-links
        display: flex
        align-items: center
        .nav-previous
          border-right: 1px solid $color__white
        .nav-previous,
        .nav-next
          text-align: center
        a
          color: $color__white
#pagination-single
&.pagination-single
  // display: flex
  // flex-direction: row
  background: rgba(0,0,0,0.10)
  margin: 0
  padding: 2em
  @include media-breakpoint-up(sm)
    // flex-direction: row
  >div
    flex: 1
    justify-content: center
    text-align: center
    padding: 1em 0
    a
      +font ($font__main, null, bold, normal, 1.3em)

  .pagination
    &-previous,
    &-next,
    &-all
      margin: .5em 0
    &-all
      a
        border: 2px solid $color__brand
        padding: 1em 3em
        // display: block
        @include media-breakpoint-down(sm)
          display: block
