section
  &.section
    position: relative
    &-background
      padding: 5em 0
    &-background__img
      width: 100%
      height: 400px
      // padding: 4em 0
      background-position: center center
      background-size: cover
    &-background__color
      background: $color__brand
      // padding: 4em 0
      color: $color__white
      text-align: center
    &-background,
    &-background__img,
    &-background__color
      text-align: center
      padding: 4em 0
      .title
        h2
          &::after
            background: $color__white!important
      p
        color: $color__white
        &:last-child
          margin-bottom: 0
  &#page-content
    .title
      h1,
      h2,
      h3
        text-align: left
        &::after
          margin: 10px 0 20px 0
    .content
      h2
        +font ('open_sansbold', 1.6em, bold, normal, 1.3em)
      p,
      ul,
      ol
        margin-bottom: 1em
        @include media-breakpoint-up(xl)
          +font (null, 1.3em, null, null, null)
        a
          color: $color__brand
      ul,
      ol
        li
          +font ($font__main, 1.3rem, 300, normal, 1.3em)
          ul
            margin-top: .5em
            li
              +font ($font__main, 1.3rem, 300, normal, 1.3em)
      ul,
      ol
        margin: 0 0 1em 0
