.header-content
  position: relative
  background-repeat: no-repeat
  background-attachment: scroll
  background-position-x: 0%
  background-position-y: 0%
  background-attachment: scroll
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  width: 100%
  position: relative
  overflow-x: hidden !important
  padding: 100px 0 200px 0
  color: $color__white
  @include media-breakpoint-up(md)
    background-attachment: fixed
  &::before
    content: ''
    width: 100%
    height: 100%
    position: absolute
    +background-opacity($color__black, 0.5)
    top: 0
    right: 0
    // z-index: 1
  p
    margin: 0


  // z-index: 9
//   text-align: center
//   h1,
//   h2
//     +font ('league_spartanbold', 1em, bold, normal, 1.3em)
//     text-transform: uppercase
