@mixin font ($font-family, $size, $weight, $style, $height)
  // +font (Arial, 1.2em, bold, normal, 1.3em)
  font-family: $font-family
  font-size: $size
  font-weight: $weight
  font-style: $style
  line-height: $height

// Opacity background
@mixin background-opacity($color, $opacity: 0.3)
  background: $color /* The Fallback */
  background: rgba($color, $opacity)
