// Libre Baskervillebold
@font-face
  font-family: 'libre_baskervillebold'
  font-display: fallback
  src: url('../assets/fonts/Libre_Baskerville/librebaskerville-bold-webfont.woff2') format("woff2"), url('../assets/fonts/Libre_Baskerville/librebaskerville-bold-webfont.woff') format("woff")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'libre_baskervilleitalic'
  font-display: fallback
  src: url('../assets/fonts/Libre_Baskerville/librebaskerville-italic-webfont.woff2') format("woff2"), url('../assets/fonts/Libre_Baskerville/librebaskerville-italic-webfont.woff') format("woff")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'libre_baskervilleregular'
  font-display: fallback
  src: url('../assets/fonts/Libre_Baskerville/librebaskerville-regular-webfont.woff2') format("woff2"), url('../assets/fonts/Libre_Baskerville/librebaskerville-regular-webfont.woff') format("woff")
  font-weight: normal
  font-style: normal

// League Spartanbold
@font-face
  font-family: 'league_spartanbold'
  font-display: fallback
  src: url('../assets/fonts/League_Spartan/leaguespartan-bold-webfont.woff2') format("woff2"), url('../assets/fonts/League_Spartan/leaguespartan-bold-webfont.woff') format("woff")
  font-weight: normal
  font-style: normal

// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i')

// Open Sans
@import url('https://fonts.googleapis.com/css?family=Open+Sans')
@font-face
  font-family: 'open_sansbold'
  font-display: fallback
  src: url('../assets/fonts/Open_Sans/opensans-bold-webfont.woff2') format("woff2"), url('../assets/fonts/Open_Sans/opensans-bold-webfont.woff') format("woff")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'open_sansbold_italic'
  font-display: fallback
  src: url('../assets/fonts/Open_Sans/opensans-bolditalic-webfont.woff2') format("woff2"), url('../assets/fonts/Open_Sans/opensans-bolditalic-webfont.woff') format("woff")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'open_sansextrabold'
  font-display: fallback
  src: url('../assets/fonts/Open_Sans/opensans-extrabold-webfont.woff2') format("woff2"), url('../assets/fonts/Open_Sans/opensans-extrabold-webfont.woff') format("woff")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'open_sansextrabold_italic'
  font-display: fallback
  src: url('../assets/fonts/Open_Sans/opensans-extrabolditalic-webfont.woff2') format("woff2"), url('../assets/fonts/Open_Sans/opensans-extrabolditalic-webfont.woff') format("woff")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'open_sanssemibold'
  font-display: fallback
  src: url('../assets/fonts/Open_Sans/opensans-semibold-webfont.woff2') format("woff2"), url('../assets/fonts/Open_Sans/opensans-semibold-webfont.woff') format("woff")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'open_sanssemibold_italic'
  font-display: fallback
  src: url('../assets/fonts/Open_Sans/opensans-semibolditalic-webfont.woff2') format("woff2"), url('../assets/fonts/Open_Sans/opensans-semibolditalic-webfont.woff') format("woff")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'open_sansitalic'
  font-display: fallback
  src: url('../assets/fonts/Open_Sans/opensans-italic-webfont.woff2') format("woff2"), url('../assets/fonts/Open_Sans/opensans-italic-webfont.woff') format("woff")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'open_sanslight'
  font-display: fallback
  src: url('../assets/fonts/Open_Sans/opensans-light-webfont.woff2') format("woff2"), url('../assets/fonts/Open_Sans/opensans-light-webfont.woff') format("woff")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'open_sanslight_italic'
  font-display: fallback
  src: url('../assets/fonts/Open_Sans/opensans-lightitalic-webfont.woff2') format("woff2"), url('../assets/fonts/Open_Sans/opensans-lightitalic-webfont.woff') format("woff")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'open_sansregular'
  font-display: fallback
  src: url('../assets/fonts/Open_Sans/opensans-regular-webfont.woff2') format("woff2"), url('../assets/fonts/Open_Sans/opensans-regular-webfont.woff') format("woff")
  font-weight: normal
  font-style: normal
