.title
  h1,
  h2
    +font ('league_spartanbold', 1.5em, 400, normal, 1.3em)
    letter-spacing: 2px
    text-align: center
    text-transform: uppercase
    @include media-breakpoint-up(xl)
      +font (null, 2.1em, null, null, null)
      letter-spacing: 5px
    &::after
      content: ''
      width: 70px
      height: 8px
      background: $color__brand
      display: block
      margin: 20px auto
  h3
    +font ('league_spartanbold', 1.2em, 400, normal, 1.3em)
    letter-spacing: 2px
    text-align: center
    text-transform: uppercase
    @include media-breakpoint-up(xl)
      +font (null, 1.8em, null, null, null)
      letter-spacing: 2px
    &::after
      content: ''
      width: 40px
      height: 8px
      background: $color__grey
      display: block
      margin: 20px auto

.header-content
  text-align: center
  h1,
  h2
    +font ('league_spartanbold', 1.5em, 400, normal, 1.3em)
    letter-spacing: 3px
    text-align: center
    text-transform: uppercase
    @include media-breakpoint-up(xl)
      +font (null, 2.5em, null, null, null)
      letter-spacing: 5px
    &::after
      content: none
  p
    +font ($font__main, 1.3em, null, normal, 1.3em)
    @include media-breakpoint-up(xl)
      +font (null, 1.5em, null, null, 1.5em)

p
  +font ($font__main, 1.3em, null, normal, 1.3em)
  @include media-breakpoint-up(xl)
    +font (null, 1.5em, null, null, 1.5em)
