.services
  .services
    &-grid
      .service
        background-size: cover
        min-height: 370px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        position: relative
        &::before
          content: ''
          width: 100%
          height: 100%
          position: absolute
          top: 0
          +background-opacity($color__black, 0.3)
          z-index: 1
        h3
          align-items: baseline
          align-self: center
          padding: 0 1em
          +font ('open_sansbold', 2em, 400, normal, 1.3em)
          color: $color__white
          z-index: 9
          text-align: center
        &-hover
          // @include invisible(hidden)
          display: none
          text-align: center
          &__link
            position: absolute
            width: 100%
            height: 100%
        &:hover
          background-image: none
          background: $color__background-body!important
          &::before
            content: none
          h3
            text-align: center
            // @include invisible(hidden)
            display: none
          .service
            &-hover
              // @include invisible(visible)
              display: block
              padding: 2em
              h5,
              a
                +font ('open_sansbold', 1.2em, null, normal, 1.3em)
                color: $color__black
                text-align: center
              p
                +font ('open_sansregular', 1em, 400, normal, 1.3em)
                text-align: left
                margin-bottom: .5em
                text-align: center
