#back-top-top
  background: $color__link
  bottom: 50px
  right: 50px
  height: 40px
  width: 40px
  z-index: 99
  text-align: center
  &::after
    content: ''
    border: solid $color__white
    border-width: 0 3px 3px 0
    display: inline-block
    padding: 7px
    margin-top: 15px
    transform: rotate(-135deg)
  &:hover
    cursor: pointer
&.show-top
  position: fixed
  bottom: 20%
