.footer
  &-callToAction
    background: $color__brand
    padding: 3em 0
    &-content
      display: flex
      align-items: flex-start
      flex-direction: column
      // align-content: center
      align-items: center
      // justify-content: space-around
      @include media-breakpoint-up(sm)
        flex-direction: row
        align-items: flex-start
      &_icon
        margin: .5em
      &_info
        color: $color__white
        text-align: center
        @include media-breakpoint-up(sm)
          text-align: left
        a,
        p
          color: $color__white
          text-align: center
          @include media-breakpoint-up(md)
            text-align: left
        a,
        .title
          +font ($font__main, 1.8em, null, normal, 1)
          // @include media-breakpoint-up(sm)
          //   +font (null, 1.5em, 300, normal, null)
        p
          +font ($font__main, 1em, 300, normal, 1.2)
          margin: .3em 0
          span
            @include media-breakpoint-up(xl)
              display: block
