.footer
  &-site-info
    background: $color__black
    padding: 1em 0
.site-info
  &_menu
    ul
      margin: 0
      padding: 0
      li
        list-style: none
        display: inline-block
        margin-right: 10px
        a
          color: $color__white
          +font ($font__main, 1.1em, 300, normal, normal)
    &::after
      content: ''
      display: block
      background: $color__white
      width: 100%
      height: 2px
      margin: 10px 0
  &_copyright
    color: $color__white
    p
      margin: 0
      +font ($font__main, 1.1em, bold, normal, normal)
