.footer
  &-widgets
    background-color: $color__grey
    padding: 2em 0
    .widget
      margin: 0 0 2em 0
      @include media-breakpoint-up(xl)
        margin: 0
      h6
        +font ('open_sansbold', 1.5em, bold, normal, 1)
        color: $color__white
        text-transform: uppercase
        &::after
          content: ''
          background: $color__white
          width: 40px
          height: 5px
          display: block
          margin: 20px 0 10px 0
      .widget_recent_entries
        ul
          li
            margin-bottom: .5em
            a
              +font ('open_sanslight', 1.1em, 300, normal, 1)
              color: $color__brand-opaque
      &-content
        p
          +font ('open_sanslight', 1.1em, 300, normal, 1)
          line-height: 1.2em
          color: $color__white
          &:last-child
            margin: 0
        ul
          margin: 0
          padding: 0
          li
            list-style: none
            color: $color__white
            margin-bottom: .5em
            a
              color: $color__white
              +font (null, 1.3em, bold, normal, 1)
