input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-main;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: 3px;
	font-family: $font__main

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

// Styling btn of all Gravity forms
.gform_wrapper {
	.gform_footer {
		position: relative;
		input[type="submit"] {
			background: $color__brand;
			border: none;
			color: $color__white;
			margin: 0;
			font-size: 1.2em!important;
			padding: .8em 2em .8em 3.5em;
			z-index: 9;
			&:hover {
				cursor: pointer;
			}
		}
		&::before {
			content: '';
			width: 20px;
			height: 20px;
			background-image: url(../assets/images/icons/icon_send-envelop.svg);
			background-repeat: no-repeat;
			position: absolute;
			background-size: contain;
			top: 31px;
			left: 25px;
		}
	}
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	input[type="number"],
	input[type="tel"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="color"],
	textarea,
	select {
		&:focus {
			border-color: $color__brand;
		}
	}
}

// Newsletter form
.gform_wrapper {
	.newsletter-form {
		.gform_footer {
			&::before {
				content: none!important;
			}
		}
	}
	input#input_2_1 {
		padding: 10px;
	}
	input.gform_button {
		width: 100%!important;
		margin: 0!important;
		padding: .8em 0!important;
	}

}
