// pulse
@keyframes pulse_animation
  0%
    transform: scale(1)
  30%
    transform: scale(1)
  40%
    transform: scale(1.04)
  50%
    transform: scale(1)
  60%
    transform: scale(1)
  70%
    transform: scale(1.03)
  80%
    transform: scale(1)
  100%
    transform: scale(1)

.pulse
  animation-name: pulse_animation
  animation-duration: 5000ms
  transform-origin: 70% 70%
  animation-iteration-count: infinite
  animation-timing-function: linear

// shake
@keyframes shake_animation
  0%
   transform: rotate(0)
  1%
   transform: rotate(25deg)
  3%
   transform: rotate(-23deg)
  5%
   transform: rotate(28deg)
  7%
   transform: rotate(-28deg)
  9%
   transform: rotate(25deg)
  11%
   transform: rotate(-23deg)
  13%
   transform: rotate(21deg)
  15%
   transform: rotate(-19deg)
  17%
   transform: rotate(17deg)
  19%
   transform: rotate(-15deg)
  21%
   transform: rotate(13deg)
  23%
   transform: rotate(-11deg)
  25%
   transform: rotate(9deg)
  27%
   transform: rotate(-7deg)
  29%
   transform: rotate(5deg)
  31%
   transform: rotate(-3deg)
  33%
   transform: rotate(1deg)
  35%
   transform: rotate(-1deg)
  37%
   transform: rotate(2deg)
  39%
   transform: rotate(-1deg)
  41%
   transform: rotate(1deg)
  43%
   transform: rotate(0)
  100%
   transform: rotate(0)

.shake
  // display: block
  // width: 40px
  // height: 40px
  // font-size: 40px
  // margin: 50px auto 0
  animation: shake_animation 7s .7s ease-in-out infinite
  transform-origin: 50% 4px

.icon-float-away
  -webkit-transform: translateZ(0)
  transform: translateZ(0)
  -webkit-animation-duration: 0.5s
  animation-duration: 0.5s
  -webkit-animation-fill-mode: forwards
  animation-fill-mode: forwards
  &:hover
    -webkit-animation-name: hvr-icon-float-away
    animation-name: hvr-icon-float-away
    -webkit-animation-timing-function: ease-out
    animation-timing-function: ease-out
