$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #fff;
$color__text-input-focus: #111;
$color__link: #85BD3C;
$color__link-visited: #85BD3C;
$color__link-hover: #85BD3C;
$color__text-main: #303030;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__border-table: #ccc;

// Font Colors

$color__black: #303030;
$color__white: #fff;
$color__brand: #85BD3C;
$color__brand-light: #D8E43C;
$color__brand-opaque: #BBD14F;
$color__yellow: #F1CC2F;
$color__grey: #656363;
