.archive
  .case-studies_filter
    margin-bottom: 1em
    h4
      text-align: center
      margin: 1em 0
      color: $color__brand
      margin: 0 0 .5em 0
    .filter
      display: flex
      text-align: center
      justify-content: center
      flex-wrap: wrap
      .active
        color: $color__brand
        border-color: $color__brand
      button,
      a
        background: none
        border-radius: 50px
        border: 2px solid #656363
        color: #656363
        text-transform: uppercase
        font-family: "open_sansbold"
        font-size: .9em
        font-style: bold
        margin: .3em
        padding: 10px 15px
        cursor: pointer
        &.mixitup-control-active
          color: $color__brand
          border-color: $color__brand
        &:hover
          color: $color__brand
          border-color: $color__brand
          text-decoration: none
  section
    .card
      margin-bottom: 2em
      &-image
        width: 200px
        height: 200px
        display: flex
        align-content: center
        align-items: center
        align-self: center
        margin: 1em 0
        text-align: center
        figure
          width: 100%
          text-align: center
          margin: 0
          img
            max-width: 100%
            height: auto
      &-body
        text-align: center
        margin: 0 auto
      &-title
        a
          color: $color__brand
      &-text
        p
          +font ($font__main, 1rem, 400, normal, 1.3em)
      .btn
        color: $color__brand
