.case-study
  .header-content
    p
      +font ('open_sansbold', 1.5em, 500, normal, 1.3em)
  .content
    // section
    .case-study
      &_information
        text-align: center
        p
          text-align: center
          margin: 0
          a
            color: $color__brand
        a
          &.free-seo-analysis
            display: block
            color: $color__brand
            margin: 2em
            +font ($font__main, 1.5em, null, normal, 1.3em)
            svg
              width: 30px
              vertical-align: middle
            &:hover
              text-decoration: none
      &_overview
        background: $color__background-screen
        .overview
          display: flex
          flex-direction: column
          align-content: center
          align-items: center
          @include media-breakpoint-up(xl)
            flex-direction: row
            // align-items: flex-start
          &-icon
            width: 40px
            margin-bottom: 10px
            @include media-breakpoint-up(xl)
              width: 60px
              margin: 10px
          p
            text-align: center!important
            @include media-breakpoint-up(xl)
              text-align: left!important
        p
          text-align: left!important
          +font ($font__main, 1em, null, normal, 1.3em)
          // text-align: center
          // @include media-breakpoint-up(xl)
          //   text-align: left!important
          span
            display: block
            text-align: center
            +font ('open_sansbold', 1.5em, 500, normal, 1.3em)
            @include media-breakpoint-up(xl)
              text-align: left

      &_overview,
      &_challenge,
      &_solution,
      &_result
        padding: 3em 0
        p
          text-align: center
          &:last-child
            margin: 0
        .title
          h1,
          h2,
          h3
            // +font ('open_sansbold', 1.5em, 500, normal, 1.3em)
            letter-spacing: normal
            &::after
              background: $color__brand
      &_solution
        background-repeat: no-repeat
        background-attachment: scroll
        background-position-x: 0%
        background-position-y: 0%
        background-size: auto auto
        // background-attachment: fixed
        background-size: cover
        background-repeat: no-repeat
        background-position: center center
        width: 100%
        position: relative
        overflow-x: hidden !important
        &::before
          content: ''
          width: 100%
          height: 100%
          position: absolute
          +background-opacity($color__black, 0.5)
          top: 0
          right: 0
        p
          color: $color__white
        .title
          h1,
          h2,
          h3
            color: $color__white
