.taxonomy-template-category-parallax-php,
.case-studies-template-single-case-studies-parallax,
.page-template-template-portfolio
  .ssba-classic-2
    display: none
  .site-content
    .slide
  		width: 100%
      height: 100%
      // height: 100vh!important
      // @media only screen and (min-width: 768px)
      //   height: 100vh
    .slide_content
      position: relative
      width: 100%
      box-sizing: border-box
      z-index: 9
      // @media only screen and (min-width: 768px)
        // height: 100vh
      &-solution,
      &-result

        @media screen and (max-height: 700px)
          display: none
        @media screen and (max-width:768px) and (max-height: 700px)
          display: block

    .slide_content-text
      width: 100%
      height: auto
      padding: 80px
      @media screen and (min-width: 100px)
        width: 80%
        // height: 100vh
      @media screen and (min-width: 1200px)
        width: 45%
        height: 100vh
      h1
        +font ('league_spartanbold', 1.5em, 400, normal, 1.3em)
        text-transform: uppercase
        color: $color__black
        @media only screen and (min-width: 768px)
          color: $color__white
      h2,h3,h4,h4
        +font ($font__main, 1.5em, bold, normal, 1.3em)
        color: $color__brand
      p
        +font ($font__main, 1.2em, 400, normal, 1.3em)
        color: $color__black
        opacity: .9
        @media only screen and (min-width: 769px)
          color: $color__white
          +font (null, 1em, null, null, null)
      .btn-green
        width: 100%
        @media only screen and (min-width: 768px)
          width: auto

    .background
      position: absolute
      top: 0
      width: 100%
      height: 100vh
      z-index: -1
      background-size: cover!important
      background-repeat: no-repeat!important
      &::before
        content: ''
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        // background-image: linear-gradient(130deg, rgba(0,0,0,0.75), rgba(0,0,0,0))
    @media only screen and (min-width: 768px)
      .background-mobile
        display: none
    @media only screen and (max-width: 768px)
      .background-mobile
        display: block
        width: 100%
        height: auto
        margin: 0
        img
          width: 100%
          height: auto
      .background
        display: none
      .slide_content-text
        width: 100%
        padding: 20px

  .site-footer
    @media only screen and (min-width: 768px)
      position: absolute
      width: 100%
      background: $white
